{% extends 'diverty/base.html' %}
{% load static %}
{% block titulo %}listado de promociones {% endblock %}
{% block js %}
<script>
  function eliminarPromociones(id) {
    Swal.fire({
      "title": "Estás seguro?",
      "text": "esta accion no se puede deshacer",
      "icon": "question",
      "showCancelButton": true,
      "cancelButtonText": "no,cancelar",
      "confirmButtonText": "Sí,eliminar",
      "reverseButtons": true,
      "confirmButtonColor": "#F44339"
    })
      .then(function (result) {
        if (result.isConfirmed) {
          window.location.href = "/eliminar_promociones/" + id + "/"

        }

      })
  }
</script>
{% endblock %}
{% block contenedor %}
<main>
  <h1 class="center-align">Listado de promociones</h1>
  <a class="boton-crear-registro" href="{% url 'diverty:guardar_promociones' %}">
    Crear promociones +</a>
  {% if registros_tablas %}
  <table class="stripped highlight centered responsive-table ">
    <thead>
      <tr class="grey lighten-2">
        <th>Id Promocion</th>
        <th>Nombre</th>
        <th>valor</th>
        <th>Fecha</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <br>
    {% for registros in registros_tablas %}
    <tbody>
      <tr>
        <td>{{ registros.id_promocion }}</td>
        <td>{{ registros.nombre}}</td>
        <td>{{ registros.precio }}</td>
        <td>{{ registros.fecha }}</td>
        <td>
          <a onclick="eliminarPromociones ({{ registros.id_promocion }})" href="#" class="material-icons  red-text  ">
            delete
          </a>
          <a href="{% url 'diverty:modificar_promociones' registros.id_promocion %}"
            class="material-icons yellow-text text-darken-4">
            mode_edit
          </a>
        </td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
  {% else %}
  No hay datos
  {% endif %}
  {% include 'diverty/paginator.html' %}
</main>
{% endblock %}